{
  "branches": [
    {"name": "main"}, 
    {"name": "next", "channel": "pre/rc", "prerelease": "rc"}
    ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "pkgRoot": "dist/"
    }],
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": ["package.json", "package-lock.json"]
    }]
  ],
  "scripts": {
    "postversion": "cp -r package.json .. && cp -r npm-shrinkwrap.json .."
  }
}
